* {margin: 0;
  padding: 0
   font-family: Reddit+Mono,arial; 
  box-sizing: border-box;

}
body {background-color: deepskyblue}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: azure;
    
}

header img {width :100%; display:block}

nav {background-color: beige}

nav a {display:block;
width:25%;
float: left;
color:blue;
text-align:center;
text-decoration: none;
background-color: beige;
padding: 15px 30px;
font-size: 20px;
transition: all 1s ease
-webkit-transition: all 1s ease;}

a.menu {display: inline-block;
      width: 24.7%;
      padding: 20px 40px;
    text-decoration: none;
    text-align:center;
}
a.menu:hover {background-color: aqua;
}

.active {background-color: aqua}
article {margin-top:30px;
margin-bottom:20px;
padding: 0 20px;
}

article h1 {
    font-size:30px;
    text-align:center;
    margin:0 20% 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;    
}
img.top {
    float:top;
    padding: 10 px;
    width: 100%;
    border-radius : 40%;
    border: 2px solid crimson;
    
}

artical p {text-align: justify
           line-height: 25px;
           font size: 18px;
           padding: 15px 0 15px 0;}

iframe {
    width:100%; 
    
}

footer {
    height:40px;
    background-color: chocolate;
    color:red;
    line-height: 40px;
    text-align: center;
    margin-top:  10px;
    
}